//Font Start
@font-face {
    font-family: TTHb;
    src: url(/assets/styles/font/TT-Hoves-Bold.otf);
    font-display: swap;
}

@font-face {
    font-family: TTHr;
    src: url(/assets/styles/font/TT-Hoves-Regular.otf);
    font-display: swap;
}
//Font End

//Color Start
$mainblue:#2A385C;
//Color End


h1{
        font-size:3rem;
        font-weight:800;
        margin:0px;
        font-family: "TTHb", sans-serif;
        font-weight: 700;
        font-style: normal;
        color:$mainblue;
        @media (max-width:700px){
            font-size:40px;
            line-height:54px;
        }
        @media (max-width:500px){
            font-size:34px;
            line-height:48px;
        }
}

h2{
        font-size:2rem;
        color:#031646;
        font-family: "TTHr", sans-serif;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 2px;
        color: inherit;
        margin:unset;
        @media (max-width:700px){
            font-size: 28px;
            line-height:28px;
        }
        @media (max-width:500px){
            font-size: 22px;
            line-height:24px;
        }
}

h3{
    font-size:1.3rem;
    color:#031646;
    font-family: "TTHr", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
    color: inherit;
    margin:unset;
    @media (max-width:700px){
        font-size: 24px;
        line-height:24px;
    }
    @media (max-width:500px){
        font-size: 20px;
        line-height:20px;
    }
}
p,a{
        font-size:1.2rem;
        line-height:30px;
        letter-spacing:1.4px;
        font-family: "TTHr", sans-serif;
        transition: .3s;
        @media (max-width:700px){
            font-size:14px;
            line-height:20px;
        }
        
}


.container {
        width:100%;
        max-width: 1480px;
        margin: auto;
        padding: 0px 36px;
        position: relative;
        box-sizing: border-box;
        @media (max-width:700px){
            padding: 0px 16px;
        }
}

.button--main{
    border-radius:25px;
    transition:.3s ease;
    text-decoration: none;
    color:$mainblue;
    background-color:white;
    border:2px solid $mainblue;
    padding:5px 25px;
    &:hover{
        background-color:$mainblue;
        color:white;
    }
}

body{
    margin:unset;
}

main{
    max-width: 1920px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    overflow:hidden; 
}


header{
    width:100%;
    position:fixed;
    background-color: #ffffff;
    z-index:9;
    .navigation{
        display:flex;
        justify-content: space-between;
        align-items: center;
        &__logo{
            width:30%;
            img{
                height:100px;
            }
        }
        &__nav{
            width:70%;
            &-show{
                display:block !important;
            }
            @media(max-width:900px){
                display:none;
                position: fixed;
                height: 100%;
                width: 100%;
                background-color: #ffffffcc;
                top: 100px;
                left: 0px;
                backdrop-filter: blur(15px);
            }
            ul{
                display:flex;
                justify-content: space-between;
                list-style:none;
                @media(max-width:900px){
                    flex-flow:column;
                    padding:30px;
                }
                li{
                    @media(max-width:900px){
                        margin-bottom:30px;
                        padding-bottom:20px;
                        border-bottom:1px solid $mainblue;
                    }
                    a{
                        color:black;
                        text-decoration: none;
                        transition:.3s;
                        @media(max-width:900px){
                            font-size:1.8rem;
                        }
                        &:hover{
                            opacity:.6;
                        }
                    }
                }
            }
        }
        &__burger{
            .line{
                background-color: #2A385C;
                height: 4px;
                width: 35px;
                display: block;
                margin-bottom: 8px;
            }
            @media(min-width:900px){
                display:none;
            }
        }
    }   
}

.showup{
   opacity:1 !important;
}

.section-hero{
    min-height:100vh;
    @media(min-width:1200px) and (max-height:800px){
        min-height:800px;
    }
    @media(max-width:1200px){
        min-height:unset;
        padding-bottom:60px;
        margin-top:100px;
    }
    .hero{
        &__inner{
            display:flex;
            justify-content: space-between;
            align-items: center;
            min-height:100vh;
            @media(min-width:1200px) and (max-height:800px){
                min-height:800px;
            }
            @media(max-width:1200px){
                flex-flow:row wrap;
                min-height:unset;
            }
            img{
                width:800px;
                height:auto;
                @media (max-width:1500px){
                    max-width:800px;
                    width:100%;
                    height:auto;
                }
            }
        }
        &__left{
            width:40%;
            @media (max-width:1200px){
                order:2;
                width:100%;
                text-align: center;
            }
            &-subtitle{
                margin:30px 0px;
                @media(max-width:500px){
                    margin:15px 0px;
                }
            }
            &-button{
                margin-top:30px;
            }
        }
    
        &__right{
            width:55%;
            @media (max-width:1200px){
                order:1;
                width:100%;
                text-align: center;
            }
        }
    }
}

.section-swiper{
    background-color:$mainblue;
    padding:180px 0px;
    @media (max-width:1200px){
        padding:90px 0px;
    }
    @media (max-width:650px){
        padding:60px 0px;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after{
            display:none;
        }

    .swiper-button-next{
        background-image: url(/assets/img/arrow-next.webp);
        background-color: transparent;
        background-repeat: no-repeat;
        padding: 0px;
        border-radius: unset;
        width: 30px;
    }

    .swiper-button-prev{
        background-image: url(/assets/img/arrow-prev.webp);
        background-color: transparent;
        background-repeat: no-repeat;
        padding: 0px;
        border-radius: unset;
        width: 30px;
    }

    .swiper__block {
        display: flex;
        justify-content: space-between;
        @media(max-width:1100px){
            flex-flow:row wrap;
        }
            .swiper__left {
                width: 40%;
                position: relative;
                @media (max-width:1100px){
                    width:100%;
                }
    
                &-title {
                    position: relative;
                    margin-bottom: 60px;

                    h2{
                        color:white;
                    }
    
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: -20px;
                        width: 100%;
                        height: 1px;
                        background-color: white;
                    }
                }

                &-text{
                    p{
                        color:white;
                        font-weight:300;
                        line-height:22px;
                    }
                }
    
                &-button {
                    display:flex;
                    align-items: center;
                    position:absolute;
                    bottom:0px;
                    width:100%;
                    a {

                        color: white;
                        font-size: 16px;
                        text-decoration: underline;
                        &:hover{
                            opacity:.8;
                        }
                    }
                    @media(max-width:1100px){
                        position:unset;
                        margin-top:60px;
                    }
                }

                &-arrow{
                    display: flex;
                    width: 100px;
                    position: absolute;
                    right:0px;
                    margin-top:30px;
                }
            }
    
            .swiper__right {
                width:50%;
                @media (max-width:1100px){
                    width:100%;
                    margin-top:60px;
                }
                    .swiper-slide:first-child{
                        background-color:#FCE34C;
                    }
                    .swiper-slide:nth-child(2){
                        background-color:white;
                    }
                    .swiper-slide:nth-child(3){
                        background-color:#365C26;
                        .swiper-title{
                            h3{
                                color:white;
                            }
                            &:after{
                                background-color:white !important;
                            }
                        }
                        .swiper-excerpt{
                            p{
                                color: white;
                            }
                        }
                    }
                    .swiper-slide{
                        .swiper-content{
                            padding:43px;
                            @media (max-width:500px){
                                padding: 43px 20px;
                            }
                            .swiper-title {
                                    position: relative;
                                    margin-bottom: 30px;

                                    h3{
                                        text-transform: uppercase;
                                    }
                            
                                    &:after {
                                        content: "";
                                        position: absolute;
                                        bottom: -18px;
                                        width: 80%;
                                        height: 1px;
                                        background-color: black;
                                    }
                            }
                        }
                    }
                
            }
        }
}


 